
.dashboard_navbar
{
  display:grid;
  grid-template-columns: 1fr;

  background-color: white;
  color: white;
  
  width:20em;
  border: solid #6C8EBF 1px;
}

.dashboard_navbar a
{
  padding: 0.4em;
  padding-left: 0.8em;
  color: #3D8BCD;
  
}

.dashboard_navbar a:hover
{
  background-color: #DAE8FC;
  
  text-decoration: none;
}

.dashboard_navbar .selected
{
  background-color: #DAE8FC;
}

.dashboard_navbar .title
{
  background-color:#3D8BCD;
  padding:0.6em;
}

